@import 'variables';

.header {
    border-bottom: 2px solid $border-color;
}

.site-header {
    background-image: url("../../../image/hero.jpeg?w=2000&f=grayscale&f0=brightness,-50");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 320px;
}

.gradient {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(120deg, #ffff00, transparent);
    opacity: 0.3;
}

.site-header a,
.site-header h1,
.site-header p {
    color: $header-font-color;
}

.logo {
    width: 0;
    z-index: 1;
}

.title {
    margin: auto 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

@media (max-width: 1023px) {
    .site-header {
        background-image: url("../../../image/hero.jpeg?w=1280&f=grayscale&f0=brightness,-50");
    }
}

@media (max-width: 767px) {
    .site-header {
        background-position: center;
    }

    .logo  {
        width: 100%;
    }

    .logo img {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 424px) {
    .logo img {
        height: 150px;
        width: 150px;
    }
}