@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto+Condensed&display=swap');
@import 'variables';
@import 'header';
@import 'nav';
@import 'index';
@import 'about';
@import 'projekt';

body {
    background-color: $background-color;
}

* {
    color: $font-color;
    font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Luxurious Roman', cursive;
}

i {
    font-size: 32px;
}

.footer {
    border-top: 2px solid $border-color;
    background-color: $menu-background-color;
    text-align: center;
    height: 120px;
    position: relative;
}

.footer p,
.footer i {
    color: $header-font-color;
}

.footer p {
    font-size: 18px;
}

.footer .social {
    word-spacing: 14px;
}

.social a:link,
.social a:visited {
    text-decoration: none;
}

.footer #mail {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
}

.footer #adress {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}

#adress,
#adress i,
#mail,
#mail i {
    font-size: 16px;
}

@media (max-width: 424px) {
    .footer {
        height: 140px;
    }

    .footer #mail {
        position: unset;
    }
    
    .footer #adress {
        position: unset;
    }
}
